.home-header-container{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10000;


}
.slick-prev{
    // position: relative !important;
    left: -10px !important;   
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    border: 2px solid #d7d7d7 !important;
    text-align: center;

  
    &:hover{
        background: #d7d7d7 !important;

    } 


}
.slick-next::before,
.slick-prev::before{
    font-family: FontAwesome !important;
    color: red  !important;
 

}
.slick-next{
    
    right: -10 !important;    
    z-index: 1000 !important;
    height: 48px !important;
    width: 44px !important;
    background: #fff !important;
    font-size: 40px !important;
    border: 2px solid #d7d7d7 !important;
    &:hover{
        background: #eceaea !important;

    } 

}   
.slick-disabled{
    display: none !important;
}
.section-share {
    &.section-specialty{
        background: #f5f5f5;
    }
    &.section-outstanding-doctor{
        background: #f5f5f5;

    }
    &.section-handbook{
       background-color: white;

    }
    &.section-about{
        height: 500px !important;
        border: 1px solid red;
    }
    .section-body{
           
            
        .section-customize{
      
            .bg-image{
                height:150px;
                width: 325px;
                background-color: #eee ;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
                
                &.section-specialty{
                    background-image: url('../../assets/specialty/co-xuong-khop.jpg');

                 }
                &.section-medical-facility{
                    background-image: url('../../assets/medical-facility/lo-go-viet-duc.jpg');

                }
                &.section-outstanding-doctor{
                    // background-image: url('../../assets/outstand-doctor/bshung.jpg');
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                }
                &.section-handbook{
                    background-image: url('../../assets/handbook/camnanghoidap.jpeg');

             
                 }

            }
        }


    }

}
.section-share{
    height: 330px;
  
  
    
    .section-container{
        margin: 0 100px;
        display: flex;
        flex-direction: column;
        .section-header{
            height: 60px;
      
            margin-bottom: 30px;
            padding-top: 30px;
            .title-section{
                font-size: 22px;
                font-weight: 600;
            }
            .btn-section{
                margin-top: -8px;
                float: right;
                padding: 10px 15px;
                border: none;
                outline: none;  
                display: block;
                background: #eceaeb;
                color: black;
                text-transform: uppercase;
                cursor: pointer;
                &:hover{
                    color: #fff;
                    background-color: #f7d800;

                }
            }
        }
    

    }
 

   
}
.section-outstanding-doctor{
    margin: 0;
    .outer-bg{
   
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        background-size: cover;

    }
    .section-customize{
       
        padding: 5px;
        cursor: pointer;
        
    
        .customize-border{
            border: solid 1px gray ;
        }
    }
}
.home-footer{
    text-align: center;
    padding-top: 8px;
    a{
        text-decoration: unset;
    }
    

}
.section-about{
    padding: 0 100px;
    .section-about-header{
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;

    }
    .section-about-content{
       display: flex;
       gap: 15px;
       width: 100%;

       .content-left{
            width: 60%;
       }
       .content-right{
            width: 40%;
            p{
                text-align: justify;
                font-style: italic;
                font-size: 15px;
            }
       } 
    }
}